/*
    ボタン
*/
.buttonRadius {
    border-radius : 10px;
    background-color : cadetblue;
}

.titleBlack {
    color : white;
    background-color : black;
}

.titleWhite {
    color : black;
    background-color : white;
}


/*

*/
body,#wrapper {
    display: flex;
    display: -ms-flexbox; 
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}